
.booking{
    border-radius: 0.5rem;
    border: 1px solid rgb(229, 231, 235);
    -webkit-border-radius: 0.5rem;
    -moz-border-radius: 0.5rem;
    -ms-border-radius: 0.5rem;
    -o-border-radius: 0.5rem;
    padding: 1.5rem;
    -webkit-border-radius: .5rem;
    -moz-border-radius: .5rem;
    -ms-border-radius: .5rem;
    -o-border-radius: .5rem;
    border: 1px solid rgb(229, 231, 235);
    position: sticky;
    top:80px
}

.booking_top h3{
    font-size: 1.1rem;
    font-weight: 600;
    color: var(--);
}
.booking_top{
    padding-top: 2rem;
    border-bottom: 1px solid rgb(229, 231, 235);
}
.booking_top span i{
    color: var(--secondary-color);
}
.booking_form h5{
    margin-bottom: 1rem;
}
.booking_info1 input{
    width: 100%;
}
.booking_form input{
    padding: 0.5rem;
    border-radius: 0.5rem;
    -webkit-border-radius: 0.5rem;
    -moz-border-radius: 0.5rem;
    -ms-border-radius: 0.5rem;
    -o-border-radius: 0.5rem;
    color: var(--heading-color);
    font-size: 1rem;
    border: none;
    border-bottom: 1px solid rgb(229, 231, 235);
}
.booking_form input:focus{
    outline: none;
}

.booking_info_form {
    border: 1px solid rgb(229, 231, 235);
}
.booking_bottom li{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.booking_bottom li h5 ,.booking_bottom li span{
    font-size: 24px;
    color: var(--text-color);
    font-weight: 500;
    margin-left: 20px;
    margin-right: 20px;
}
.booking_bottom{
    margin-top: 1rem;
}
.total_Y h5 ,.total_Y span{
    color: var(--heading-color) !important;
    font-weight: 700 !important;
    font-size: 24px !important;
}
  