.product-container {
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    overflow: hidden;
    margin-bottom: 20px;
    padding-top: 80px; /* Add padding to the top to create space for the header */
    padding-left: 260px; /* Add padding for the sidebar */
    padding-right: 20px; /* Add right padding */
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    min-height: calc(100vh - 80px);
}
.tour-card-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Hiển thị 3 tour cards trên mỗi dòng */
    grid-gap: 2rem; /* Khoảng cách giữa các tour cards */
    margin-top: 20px; /* Thêm khoảng cách trên */
}

.product-image img {
    width: 200px;
    height: auto;
    border-radius: 8px 0 0 8px;
}

.product-details {
    flex-grow: 1;
    padding: 20px;
}

.product-name {
    font-size: 20px;
    font-weight: bold;
    color: #333333;
    margin-bottom: 10px;
}

.product-price {
    font-size: 18px;
    font-weight: bold;
    color: #007bff;
    margin-bottom: 10px;
}

.product-description {
    font-size: 16px;
    color: #666666;
    margin-bottom: 10px;
}

.product-actions {
    margin-top: 10px;
}

.product-actions button {
    background-color: #007bff;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.product-actions button:last-child {
    background-color: #dc3545;
}

.product-actions button:hover {
    background-color: #0056b3;
}

.product-actions button:last-child:hover {
    background-color: #c82333;
}
