body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  min-height: 100vh;
  overflow-x: hidden; /* Ẩn thanh cuộn ngang */
}

.listTour-card{
    width: 100%;
  margin: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  padding: 15px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.search-bar {
    position: relative;
    width: 300px;
}

.search-bar input {
    width: 100%;
    padding: 8px 16px;
    border: 1px solid #ccc;
    border-radius: 50px;
    font-size: 16px;
}

.search-bar .search-icon {
    position: absolute;
    right: 8px;
    top: 50%;
    transform: translateY(-50%);
    color: #888;
}
.customer-footer {
    display: flex; /* Use flexbox for footer */
    justify-content: center; /* Center pagination horizontally */
    align-items: flex-end; /* Align to bottom within container */
    padding: 20px;
    
  }
  .pagination-container{
    display: flex;
    justify-content: flex-end;
    align-items: center;
   
  }
  .pagination-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .pagination .page-item.disabled .page-link {
    color: #6c757d;
    pointer-events: none;
    cursor: not-allowed;
    background-color: #e9ecef;
    border-color: #dee2e6;
  }
  
  .pagination .page-item.active .page-link {
    z-index: 1;
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
  }
  
  .pagination .page-link {
    color: #007bff;
  }
  
  .pagination .page-link:hover {
    color: #0056b3;
    text-decoration: none;
    background-color: #e9ecef;
    border-radius: .25rem;
  }
  