.listTour-container {
    padding-top: 80px;
    /* Add padding to the top to create space for the header */
    padding-left: 260px;
    /* Add padding for the sidebar */
    padding-right: 20px;
    /* Add right padding */
    padding-bottom: 20px;
    /* Add bottom padding */
    position: relative;
    top: 19px;
    right: 35px;
}
.listTour-card{
    width: 100%; 
    margin: 10px; 
    background-color: #fff; 
    border-radius: 5px; 
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); 
    padding: 15px; 
    box-sizing: border-box;
}
.search-bar {
    position: relative;
    width: 300px;
}

.search-bar input {
    width: 100%;
    padding: 8px 16px;
    border: 1px solid #ccc;
    border-radius: 50px;
    font-size: 16px;
}

.search-bar .search-icon {
    position: absolute;
    right: 8px;
    top: 50%;
    transform: translateY(-50%);
    color: #888;
}